.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.Spettacolo{left: 45px; top: 708px; position: absolute; color: white; font-size: 23px; font-family: Kaushan Script; font-weight: 400; word-wrap: break-word}
.Logoridiminesionato1{width: 77px; height: 67px; left: 14px; top: 14px; position: absolute}
